/*phone portrait*/
@media (min-device-width: 320px) and (max-device-width: 414px) { 
	.head {
    	height: 50vh;
    	background-size: auto 100%;
	}
	.buttons {
		font-size: 1.4em;
	}
	.nav {
		height: 10vw;
	}
	.nav .logo {
		background-size: 100% auto;
	}
	.nav_social a {
		font-size: 2em;
	}
	.nav_social #instagram {
		margin-left: 2%;
	}
	#instagram, #facebook {
		width: 10%;
		height: 50%;
	}
	.about {
		height: 40vh;
		font-size: 1.5em;
	}
	.intro p {
		width: 80%;
	}
	.picker {
		width: 20%;
	}
	.text {
		width: 60%;
	}
	.portfolio {
		height: auto;
		display: block;
	}
	.item {
		margin: 0 10%;
		height: 60%;
	}
	.item_text {
		font-size: 1.4em;
	}
	.item_title {
		font-size: 1.2em;
	}
	.contact {
		height: 13vh;
		font-size: 1.4em;
	}
	.social #instagram {
		margin-left: 2%;
	}
	.social #instagram, .social #facebook {
		width: 15%;
	}

}
/*iphonex portrait*/
@media (device-height: 812px) and (device-width: 375px) {
	.head {
    	height: 40vh;
    	background-size: 100% auto;
	}
	.about {
		height: 30vh;
	}
}
/*iphonex landscape*/

@media (device-height: 375px) and (device-width: 812px) {
	.nav {
		height: 5vw;
	}
	.about {
		height: 100vh;
	}
	.intro p {
		width: 70%;
	}
	.picker {
		width: 16%;
	}
	.text {
		width: 54%;
	}
	.item_text {
		font-size: 0.8em;
	}
	.contact {
		height: 44vh;
	}
	.social #instagram {
		margin-left: 3%;
	}
}

/*phone landscape*/
@media (min-device-width: 320px) and (max-device-width: 811px) {
	.head {
    	height: 100vh;
	}
	.about {
		height: 85vh;
	}
	.intro p {
		width: 62%;
	}
	.picker {
		width: 16%;
	}
	.text {
		width: 46%;
	}
	.portfolio {
		height: 25vh;
	}
	.portfolio {
		height: 85vh;
	}
	.contact {
		height: 36vh;
	}
	.social #instagram {
		margin-left: 3%;
	}

}
/*ipad portrait*/
@media (device-width: 768px) and (device-height: 1024px) {
	.head {
		height: 60vh;
	}
	.nav {
		height: 10vw;
	}
	.nav .logo {
		background-size: 100% auto;
	}
	.nav_social a {
		font-size: 2em;
	}
	.nav_social #instagram {
		margin-left: 2%;
	}
	.about {
		height: 50vh;
	}
	.intro p {
		width: 62%;
	}
	.picker {
		width: 16%;
	}
	.text {
		width: 46%;
	}
	.portfolio {
		height: 40vh;
	}
	.contact {
		height: 15vh;
	}
	.social #instagram {
		margin-left: 3%;
	}
}

/*ipadpro portrait*/
@media (device-width: 1024px) and (device-height: 1366px) {
	.head {
		height: 60vh;
	}
	.nav {
		height: 10vw;
	}
	.nav .logo {
		background-size: 100% auto;
	}
	.nav_social a {
		font-size: 2em;
	}
	.nav_social #instagram {
		margin-left: 2%;
	}
	.about {
		height: 50vh;
	}
	.intro p {
		width: 62%;
	}
	.picker {
		width: 16%;
	}
	.text {
		width: 46%;
	}
	.portfolio {
		height: 40vh;
	}
	.contact {
		height: 15vh;
	}
	.social #instagram {
		margin-left: 3%;
	}
}

/*ipad landscape*/
@media (device-width: 1024px) and (device-height: 768px) {
	.head {
		height: 80vh;
	}
	.nav {
		height: 5vw;
	}
	.nav_social a {
		font-size: 1.4em;
	}
	#facebook, #instagram {
		height: 40%;
	}
	#instagram {
		margin-left: 2%;
	}
	.about {
		height: 65vh;
	}
	.intro p {
		width: 62%;
	}
	.picker {
		width: 16%;
	}
	.text {
		width: 46%;
	}
	.portfolio {
		height: 60vh;
	}
	.social #instagram {
		margin-left: 3%;
	}
}

/*ipad mini landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
	.head {
		height: 80vh;
	}
	.about {
		height: 80vh;
	}
	.portfolio {
		height: 60vh;
	}
	.contact {
		height: 30vh;
	}
}

/*iphone5 landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 350px) and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
	.head {
		height: 80vh;
    	background-size: 100% auto;
	}
	.nav {
		height: 6vw;
	}
	.nav .logo {
    	background-size: auto 100%;
	}
	.nav_social #instagram {
		margin-left: 0;
	}
	.about {
		height: 90vh;
	}
	.intro p {
		width: 80%;
	}
	.picker {
		width: 20%;
	}
	.text {
		width: 60%;
	}
	.portfolio {
		height: 80vh;
		display: flex;
	}
	.item {
		margin: 0 1%;
		height: auto;
	}
	.item_text {
		font-size: 1em;
	}
	.item_title {
		font-size: 1em;
	}

	.contact {
		height: 40vh;
	}
}

/*iphone5 portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 350px) and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
	.head {
		height: 60vh;
	}
	.about {
		height: 40vh;
	}
	.intro p {
		width: 80%;
	}
	.picker {
		width: 20%;
	}
	.text {
		width: 60%;
	}
	.portfolio {
		height: auto;
	}
	.contact {
		height: 13vh;
	}
}